<p id="notice"><%= notice %></p>

<h1>Listing Widgets</h1>

<div class="sortable_elements" id="sortable_widgets">

  <% @widgets.each do |widget| %>

      <%= render( "widgets/showwidget", widget: widget ) %>

  <% end %>

</div>

<div class="add_text">
  <div class="round5 grlinks" id="add_widget" data-widget="<%= @widget %>">

    <p><%= link_to '+', new_widget_path, remote: true, class: "round5" %></p>

  </div>
</div>


<%= link_to 'New Widget', new_widget_path %>
