

<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="w500 center inline_block">

    <div class="field">
      <%= f.label "title" %><br>
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.label "meta-title" %><br>
      <%= f.text_field :m_title %>
    </div>

    <div class="field">
      <%= f.label "meta-description" %><br>
      <%= f.text_area :m_desc %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>
