<div class="container center admin">
  <div class="row">
    <h1>Editing <%= @page.title %> Page</h1>
  </div>

  <div id="add_widget" class="add_widget "></div>

  <% if !@page.widgets.blank? %>
    <div class="row">
      <div class="widgets">
        <% @page.widgets.each do |widget| %>
        <%= render widget.element, element: widget.element %>
        <%= render "widgets/showwidget", widget: widget %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="page_properties hidden">
    <%= render 'form' %>
  </div>


  <div class="left_nav">
    <div class="left_nav_toggle"></div>

    <div class="left_bar left">
      <ul>
        <li><%= link_to '+text', new_text_path(:page => @page), remote: true, class: "round5" %></li>
      </ul>

    </div>

    <% if !@page.widgets.blank? %>
      <div class="left_widget_map left">
        <% @page.widgets.each do |widget| %>
          <div class="widget_map_block block center round3"></div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
