<p id="notice"><%= notice %></p>

<h1>Listing Pages</h1>

<% @pages.each do |page| %>
  <div class="title">
    <%= page.title %>
  </div>

  <div class="actions">
    <p>
      <%= link_to 'Show', page %>
      <%= link_to 'Edit', edit_page_path(page) %>
      <%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
  </div>
<% end %>




<%= link_to 'New Page', new_page_path %>
