<p id="notice"><%= notice %></p>

<div class="container center"></div>

  <div class="pagetitle">
    <%= @page.title %>
  </div>

  <% if !@widgets.blank? %>
    <% @widgets.each do |widget| %>
      <%= render widget.element, element: widget.element %>
    <% end %>
  <% end %>

  <%= link_to 'Edit', edit_page_path(@page) %> |
  <%= link_to 'Back', pages_path %>
</div>
