.admin{
  margin: 0;
  padding: 0 0 0 160px;
  background-color: #fff;
  min-height: 100%;

  .page_properties{

  }

  .hidden {
    display: none;
  }
  
  .left_nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;

    .left_bar{
      width: 80px;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      overflow-x: visible;
      overflow-y: hidden;
      background-color: #9e9b9b;

      a, a:active, a:hover, a:visited{
        color: #ffffff;
        text-decoration: none;
      }
      ul{
        list-style: none;
      }
      li{
        margin: 20px 10px 10px 20px;
      }
    }

    .left_widget_map{
      width: 80px;
      height: 100%;
      position: fixed;
      top: 0;
      left: 80px;
      overflow-x: visible;
      overflow-y: hidden;
      background-color: #6c6c6c;

      a, a:active, a:hover, a:visited{
        color: #ffffff;
        text-decoration: none;
      }
      ul{
        list-style: none;
      }
      li{
        margin: 20px 10px 10px 20px;
      }
    }

    .widget_map_block{
      width: 40px;
      height: 40px;
      background-color: #ffffff;
      margin: 20px auto;
    }

    .left_nav_toggle{
      width: 30px;
      height: 30px;
      position: absolute;
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 5px;
      left: 145px;
      overflow-x: hidden;
      overflow-y: hidden;
      background-color: #96cb00;
      // margin: 20px auto;
    }
  }


  .add_widget{
    display: inline-block;
  }

  h1{
    font-size: 2em;
    margin: 20px 0;
    display: inline-block;
  }

  input{
    font-size: 1em;
    display: inline-block;
    margin-bottom: 20px;
    // margin: 10px 0 0 0;
    border: 1px solid #d2d2d2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  input[type=text] {
    width: 100%;
    display: inline-block;
    height: 40px;
    margin: 10px 0 20px 0;
    // margin-bottom: 20px;
    font-size: 1em;
    padding: 10px;
  }

  input[type=email] {
    width: 100%;
    display: inline-block;
    height: 40px;
    // margin: 10px 0 20px 0;
    font-size: 1em;
    padding: 10px;
  }

  input[type=password] {
    width: 100%;
    display: inline-block;
    height: 40px;
    // margin: 10px 0 20px 0;
    font-size: 1em;
    padding: 0 10px;
  }

  input[type=number] {
    width: 50px;
    height: 40px;
    padding-left: 20px;
  }

  input[type=file] {
    width: 100px;
    height: 30px;
    // margin: 0 0 0 20px;
    // margin-left: 20px;
    display: inline-block;
    vertical-align: top;
  }

  input[type=submit] {
    width: auto;
    // display: block;
    height: 40px;
    margin: 20px 0;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.8em;
    background-color: rgb(166, 190, 19);
    // -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
    // -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
    // -o-box-shadow: 0 1px 4px rgba(0,0,0,.2);
    // box-shadow: 0 1px 4px rgba(0,0,0,.2);
    cursor: pointer;
  }

  textarea {
    width: 100%;
    height: 100px;
    display: inline-block;
    margin: 10px 0;
    padding: 10px;
    border: none;
    resize:vertical;
    font-size: 1em;

    border: 1px solid #d2d2d2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
}
