
.round5{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.round3{
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.pagetitle{
  margin: 0 auto;
}

.container{
  margin: 0 auto;
}

.header{
  width: 400px;
  font-size: 3em;
  margin: 20px auto;
}

.text{
  width: 600px;
  margin: 20px auto;
  p{
    line-height: 1.6em;
  }
}

.row{
  width: 100%;
  display: block;
}

.block{
  display: block;
}
.inline_block{
  display: inline-block;
}

.w500{
  width: 500px;
}

.center{
  text-align: center;
}

.left{
  text-align: left;
}

.right{
  text-align: right;
}

.sortable_elements{
  width: 500px;
  margin: 20px auto;
}
.add_text{
  width: 500px;
  margin: 20px auto;
}
.newtext{

}
.actions{
  display: inline-block;
  font-size: 0.7em;
  margin: 10px 0 20px 0;
  a, a:active, a:hover, a:visited{
      color: #bbbbbb;
    }
}
.act{
  margin-right: 5px;
}

.grlinks{
  a, a:active, a:hover, a:visited{
    color: #838383;
    text-decoration: none;
  }
}
