<div class="row">
  <div class="w500 center inline_block">
    <%= form_for text, remote: true do |f| %>
      <% if text.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(text.errors.count, "error") %> prohibited this text from being saved:</h2>

        <ul>
          <% text.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <div class="field">
        <%= f.label "content" %>
      </div>
      <div class="field">
        <%= f.text_area :content %>
      </div>

      <div class="actions">
        <%= f.submit %>

        <%= button_to 'Create text',
        :controller => "texts",
        :action => "create",
        :method => :post,
        params: { page: "page" } %>
      </div>
    <% end %>
  </div>
</div>
