

<p><%= truncate text.content, length: 50 %></p>
<div class="actions">
  <%= link_to 'Show', text %>
  <%= link_to 'Edit', edit_text_path(text) %>
  <%= link_to 'X', text, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
