<p id="notice"><%= notice %></p>

<h1>Listing Texts</h1>

<div class="sortable_texts" id="sortable_texts">

  <% @texts.each do |text| %>

      <%= render( "texts/showtext", text: text ) %>

  <% end %>

</div>

<div class="add_text">
  <div class="round5 grlinks" id="add_text" data-text="<%= @text %>">

    <p><%= link_to '+', new_text_path, remote: true, class: "round5" %></p>

  </div>
</div>
